.container-nav{
  background-color: #E8E8E8;
  font-family: 'Red Rose', cursive, "Calibri";
  font-size: clamp(17px, 2.5vw, 35px);
  color: #FAF7FF;
}

.nav-flexbox{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.company{
  background-color: #373737;
}

a{
  background-color: #373737;
  text-decoration: none;
  color: white;
  padding: 0 1vw;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
